<app-tool-bar></app-tool-bar>
<div class="card mt-5">
    <div class="card-header">
        A cerca

            <div class="jumbotron">
                <h1 class="display-4">Sistema de solicitud</h1>
                <p class="lead">
                    Sistema de atención a usuarios
                </p>
                <hr class="my-4" />
                <p>
                    Administrar solicitudes
                </p>
                <a class="btn btn-primary btn-lg" routerLink="home" role="button">Ver manual</a>
            </div>

    </div>
</div>