<app-tool-bar></app-tool-bar>
<div class="card">
  <div class="card-header">
    Usuario
    <div class="container m-5">
      <div class="jumbotron">
        <p class="lead">
          {{fechahoy}}
          <br>
          Para solicitudes de asistencia técnica, ayuda o reparaciones relacionadas a equipamiento informático.
        </p>
        <hr class="my-4" />
        <a class="btn btn-primary" (click)="solicitudNueva()" role="button">Generar solicitud</a>
      </div>
      <table class="table" style="margin-top: 20px;">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Usuario</th>
            <th scope="col">Equipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of solicitudes | paginate: { itemsPerPage:4, currentPage: page}">
            <td>{{s.descripcion}}</td>
            <td>{{s.usuario}}</td>
            <td>{{s.equipo}}</td>
            <td>{{s.estado}}</td>
            <td> ver... </td>
          </tr>
         
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>
</div>