<app-tool-bar></app-tool-bar>
<div class="card">
  <div class="card-header">
    Administración
    <div class="container m-5">
      <div class="jumbotron">
        <h4>Pedidos de los usuarios</h4>
        <p class="lead">
          Sistema de atención a usuarios
        </p>
        <hr class="my-4" />
        <p>
          Administrar pedidos {{ fechahoy }}
        </p>
      </div>
      <div *ngIf="solicitudes.length > 0">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Departamento</th>
                <th scope="col">Usuario</th>
                <th scope="col">Equipo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of solicitudes | paginate: { itemsPerPage:4, currentPage: page}">
                <td>{{ solicitud.departamento }}</td>
                <td>{{ solicitud.usuario }}</td>
                <td>{{ solicitud.equipo }}</td>
                <td><textarea disabled>{{ solicitud.descripcion }}</textarea></td>
                <td *ngIf="solicitud.estado == 'VISTO'"><b>
                    <p style="color:#8a511d">{{ solicitud.estado }}</p>
                  </b></td>
                <td *ngIf="solicitud.estado == 'PENDIENTE'"><b>
                    <p style="color:#e40e06">{{ solicitud.estado }}</p>
                  </b></td>
                <td *ngIf="solicitud.estado == 'SOLUCIONADO'"><b>
                    <p style="color:#09ca29">{{ solicitud.estado }}</p>
                  </b></td>
                <td *ngIf="solicitud.estado == 'CERRADO'"><b>
                    <p style="color:#031105">{{ solicitud.estado }}</p>
                  </b></td>
                <td>
                  <a style="cursor:pointer;" (click)="editar(solicitud)" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </a>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
      </div>
      <div style="margin-top:20px ;" *ngIf="solicitudes.length == 0">
        <h3>Nada por ahora...</h3>
      </div>
    </div>
  </div>
</div>