<app-tool-bar></app-tool-bar>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="jumbotron">
        <form [formGroup]="form" (submit)="guardar()" method="post">
            <div class="mb-3 form-group">
                <label for="user" class="form-label">Usuario</label>
                <input formControlName="user" type="text" class="form-control" id="user" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && form.invalid }" required>
                <div class="invalid-feedback">
                    Ingresar usuario.
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="password" class="form-label">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" id="password" [ngClass]="{ 'is-invalid': submitted && form.invalid }" required>
                <div class="invalid-feedback">
                    Ingresar contraseña.
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="rol" class="form-label">Seleccionar tipo de usuario</label>
                <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.invalid  }" aria-label="Default select example" required>
                    <option selected value="user">Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
                <div class="invalid-feedback">
                    Seleccionar un rol.
                </div>
            </div>
            <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error al guardar</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    
            <div *ngIf="ok" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Guardado</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <button style="margin-top:10px;" type="submit" class="btn btn-primary">Guardar</button>
            <button style="margin-top:10px;margin-left: 5px;" class="btn btn-primary" (click)="limpiar()">Crear
                otro...</button>
            <button style="margin-top:10px;margin-left: 5px;" class="btn btn-primary float-right" (click)="volver()">Volver</button>
        </form>

    </div>
</div>