<div class="col-md-6 offset-md-3 mt-5">

    <div class="card">
        <h4 class="card-header">Ingreso al sistema de tickets</h4>
        <div class="card-body">
            <form [formGroup]="form" (submit)="login()" method="post">
                <div class="form-group"  style="margin-top: 10px;">
                    <label for="user">Usuario</label>
                    <input type="text" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.invalid }" required />
                    <div class="invalid-feedback">
                        Ingrese usuario.
                    </div>
                </div>
                <div class="form-group"  style="margin-top: 10px;">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" maxlength="20" [ngClass]="{ 'is-invalid': submitted && form.invalid }" required/>
                    <div class="invalid-feedback">
                        Ingrese contraseña.
                    </div>
                </div>
                <button style="margin-top: 10px;" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Ingresar
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{this.error}}</div>
            </form>
        </div>
    </div>
</div>