<app-tool-bar></app-tool-bar>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="jumbotron">
        <form [formGroup]="form" (submit)="guardar()" method="post">
            <div class="mb-3 form-group">
                <label for="user" class="form-label">Usuario</label>
                <input formControlName="user" type="text" class="form-control" id="user" aria-describedby="emailHelp"
                    [ngClass]="{ 'is-invalid': submitted && form.invalid }" value="{{user.user}}" required>
                <div class="invalid-feedback">
                    Ingresar usuario.
                </div>
            </div>
            <div class="mb-3 form-group">
                <div class="form-control">
                    <input formControlName="reset" type="checkbox" value="" id="checkpass" />
                    <label class="form-check-label" for="flexCheckDefault">Resetear contraseña</label>
                </div>
                <div *ngIf="this.form.value.reset">
                    <label for="password" class="form-label">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="password"
                        [ngClass]="{ 'is-invalid': submitted && form.invalid }" required>
                    <div class="invalid-feedback">
                        Ingresar contraseña.
                    </div>
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="rol" class="form-label">Seleccionar tipo de usuario</label>
                <div *ngIf="this.isadmin">
                    <div class="form-control">
                        <input formControlName="roleadmin" class="form-check-input" type="checkbox" name="admin1" id="admin" checked/>
                        <label class="form-check-label" for="flexCheckChecked">Administrador</label>
                    </div>
                </div>

                <div *ngIf="!this.isadmin">
                    <div class="form-control">
                        <input formControlName="roleadmin" class="form-check-input" type="checkbox" name="admin2" id="admin2" />
                        <label class="form-check-label" for="flexCheckChecked">Administrador</label>
                    </div>
                </div>
                
                <div class="form-control">
                    <input disabled class="form-check-input" type="checkbox" value="" id="userRol" checked />
                    <label class="form-check-label" for="flexCheckChecked">Usuario</label>
                </div>
            </div>

            <button style="margin-top:10px;" type="submit" class="btn btn-primary">Guardar</button>
            <button style="margin-top:10px;margin-left: 5px;" class="btn btn-primary float-right"
                (click)="volver()">Volver</button>
        </form>

    </div>
</div>